@model FlipkartWeb.Models.AuthendModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Login";
}

@{
    Layout = "_AuthLayout";
}

<h2 id="Alig">Login</h2>



<body>

    <form method="post" class="form-container" action="Authend">
        <div class="imgcontainer">
            <img src="~/loginimg1.jpg" alt="Avatar" class="avatar">
        </div>

    

        <div class="container">
            <label for="uname"><b>EmailId</b></label>
            <input asp-for="Emailid" type="text" name="emailid" />
            <span asp-validation-for="Emailid" class="text-danger"></span>

            <label for="email"><b>Password</b></label>
            <input asp-for="Password" type="text" placeholder="Password" name="Password" required>
            <span asp-validation-for="Password" class="text-danger"></span>

            <button type="submit" class="btn btn-success" asp-controller="Authend" asp-action="Loginpost">Login </button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
@*             <span class="psw">Forgot <a href="#">password?</a></span>
 *@
           
        </div>

    <p id="t1" class="text-danger">@ViewBag.Message</p>
    <p id="t1">Don't have an account? <a asp-controller="Authend" asp-action="Registration">Register here</a>.</p>
    </form>
</body>

        

    









