@using FlipkartWeb.Models;
@model List<CartItem>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Shopping Cart";
}

<h2>Shopping Cart</h2>
<h2>@Localizer["CartTitle"]</h2>
@if (!Model.Any())
{
    <p>Your cart is empty.</p>
}
else
{


    <div class="container mt-3">
        <h2>Striped Rows</h2>
        <p>The .table-striped class adds zebra-stripes to a table:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>₹@item.Price</td>
                        <td>@item.Quantity</td>
                        <td>₹@(item.Price * item.Quantity)</td>
                    </tr>
                }
            </tbody>
        </table>

    
    <form asp-controller="Cart" asp-action="PlaceOrder" method="post">
        <button type="submit" class="btn btn-success">Place Order</button>
    </form>

    </div>




































   
}

