<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

   
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap.css" rel="stylesheet" />
  
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-grid.css" rel="stylesheet" />
    
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-reboot.css" rel="stylesheet" />

    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
    <link href="~/bootstrap-5.3.3-dist/css/bootstrap-utilities.css" rel="stylesheet" />



    <style>
        div.mycontainer {
            width: 100%;
            overflow: auto;
        }

            div.mycontainer div {
                width: 33%;
                float: left;
            }
                #mainNav {
                    background-color: #FFF;
                }

                /* flipkart image */
                img {
                    width: 7%;
                    height: auto;
                    border: none;
                }

                /* First div margin */
                div.container-fluid {
                    margin-left: 20px;
                    font-family: 'Times New Roman', Times, serif
                }

                /* search box */
                #myOverlay, .form-control me-2, input[type=text] {
                    width: 100%;
                    margin-left: 20px;
                }

                /* drop down login*/
                /* .dropdown, .cart, .seller {
                            margin-right: 10px;
                            background-color: transparent;
                            color: black;
                        }*/


                /* login dropdown */
                /* .dropdown {
                    margin-right: 90px;
                    background-color: transparent;
                    color: black;
                } */

                /* cart and seller button*/
                .cart, .seller {
                    margin-right: 10px;
                    background-color: transparent;
                    color: black;
                }

                /* button Gray */
                .button_color {
                    background-color: transparent;
                    color: black;
                }

                #colon {
                    background-color: transparent;
                    color: black;
                    margin-left: 10px;
                }

                .dropbtn {
                    background-color: transparent;
                    color: black;
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                    margin-left: 10px;
                }

                .dropdown {
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: skyblue;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    margin-left: -60px;
                }

                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        /*                margin-left: 40px;
                */
                    }

                .dropdown:hover .dropdown-content {
                    display: block;
                }


                .button4 {
                    background-color: transparent;
                    color: black;
                    border: none;
                    width: 100px;
                }

                    .button4:hover {
                        background-color: transparent;
                    }


                div.scrollmenu {
                    background-color: white;
                    overflow: auto;
                    white-space: nowrap;
                    margin-left: 120px;
                    font-family: 'Times New Roman', Times, serif
                }

                    div.scrollmenu a {
                        display: inline-block;
                        color: black;
                        text-align: center;
                        padding: 14px;
                        text-decoration: none;
                        /*                margin-left:50px;
        */
                    }

                        div.scrollmenu a:hover {
                            background-color: #FFF;
                        }


                div.mycontainer {
                    width: 100%;
                    overflow: auto;
                    align-content: center;
                }

                    div.mycontainer div {
                        width: 10%;
                        float: left;
                        align-content: flex-start;
                    }

                .rounded {
                    height: 100px;
                    width: 100px;
                    align-content: center;
                }

                .scrollmenu .mycontainer div h6 {
                }

                .mycontainer div h6 {
                }

                .btn-primary {
                    background-color: transparent;
                    color: black;
                }

        #grad1 {
            height: 200px;
            background-color: #cccccc;
            background-image: radial-gradient(blue,white);
        }
       
        #colo{
            background-color: blue;
            margin: 0px;
           
        }

       #link-color        
       {
           color:#FFF;
           font-weight:bold;
           font-family:'Times New Roman';
           margin: 10px;
           margin-left:50px;
       }

        #card {
           margin-top:auto;
       }


/*       Style for Authendication
 */

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        .form-container {
            max-width: 300px;
            background-color: hwb();
        }



        /* Change styles for span and cancel button on extra small screens */
        /* media screen and (max-width: 300px) {
          span.psw {
             display: block;
             float: none;
          } */
        .cancelbtn {
            width: 100%;
        }

    </style>
   
</head>




<body id="link">

    <div id="mainNav" class="navbar navbar-expand-sm navbar-expand-lg bg-light">
        <div class="container-fluid">
            <img src="~/flipkartlogo.jpg" class="img-thumbnail" alt="Cinque Terre">
            <div class="collapse navbar-collapse" id="mynavbar">

                <div id="myOverlay" class="overlay">
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <!--<button class="btn btn-primary" type="button">Search</button>-->
                    </form>
                </div>

                
                <div class="dropdown">
@*                     <button type="submit" class="btn btn-primary" href="Authend/Login">Login</button>
 *@                    <a href="/Authend/Login" class="btn btn-primary" type="submit">Login</a>
                   @* <button class="dropbtn">My Profil</button>
                     <div class="dropdown-content">
                        <a href="#">My Profile</a>
                        <a href="#">Gift Card</a>
                        <a href="#">Orders</a>
                    </div> *@
                </div>

               

                <div class="seller">
                    <a href="/Authend/Registration" class="btn btn-primary" type="submit">Register</a>
                    <!--<button class="btn btn-primary dropdown-toggle" type="button">-->

                </div>

                <div class="cart">
                    <button class="btn btn-primary" type="button" asp-controller="Cart" asp-action="Index">
                        Cart
                        <span class="badge bg-warning">@Context.Session.GetInt32("CartCount")</span>
                    </button>
                    <!--<button class="btn btn-primary dropdown-toggle" type="button">-->
                </div>

                

                <div class="dropdown">
                    <a href="/Home/AllLaptop" class="btn btn-primary" type="">Product</a>
                    <!--<button class="btn btn-primary dropdown-toggle" type="button">-->

                </div>

               @*  <div id="colon" class="dropdown">
                    <button class="dropbtn">:</button>
                    <div class="dropdown-content">
                        <a href="#">Notification Preference</a>
                        <a href="#">24 X 7 Customer care</a>
                        <a href="#">Advertice</a>
                        <a href="#">Download App</a>
                    </div>
                </div> *@


            </div>
        </div>
    </div>





    <div>
        @RenderBody()
    </div>




    <script src="~/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
    <script src="~/bootstrap-5.3.3-dist/js/bootstrap.esm.min.js"></script>
    <script src="~/bootstrap-5.3.3-dist/js/bootstrap.esm.js"></script>
    <script src="~/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script src="~/bootstrap-5.3.3-dist/js/bootstrap.js"></script>

</body>
</html>
